
@font-face {
    font-family: 'QuinqueFive';
    src: url('../assets/QuinqueFive.woff') format('woff');
	src: url('../assets/QuinqueFive.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
	font-family: 'QuinqueFive', normal;
}
